In [1]:
# Import libs

import requests as req
from bs4 import BeautifulSoup as bs
import csv
import pandas as pd

In [2]:
def getHTML(kelas):
  return req.get("https://skm.dgip.go.id/index.php/skm/detailkelas/" + str(kelas)).text

In [3]:
classes = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]

In [4]:
file = open("skmscrape.csv","w")
writer = csv.writer(file)
writer.writerow(["Nama Barang (Indonesia)", "Nama Barang (English)", "Kelas"])

53

In [5]:
for kelas in classes:
  html = getHTML(kelas)
  parser = bs(html, "html.parser")
  data = parser.find_all("tr","even gradeA")
  for row in data:
    barang = row.find_all("td")
    nama = barang[0].text
    name = barang[1].text
    writer.writerow([nama, name, kelas])

In [6]:
file.close()

In [7]:
df = pd.read_csv("skmscrape.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40950 entries, 0 to 40949
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Nama Barang (Indonesia)  40950 non-null  object
 1   Nama Barang (English)    40950 non-null  object
 2   Kelas                    40950 non-null  int64
dtypes: int64(1), object(2)
memory usage: 959.9+ KB

In [8]:
df.head()

,Nama Barang (Indonesia),Nama Barang (English),Kelas
0,"indikator kelembaban kimia dalam bentuk strip,...",chemical humidity indicators in the form of st...,1
1,penguat kimia untuk karet,chemical intensifiers for rubber,1
2,zat antara kimia untuk digunakan dalam pembuat...,chemical intermediates for use in the manufact...,1
3,pupuk majemuk yang dikonversi secara kimia,chemically converted compound fertilizers,1
4,strip uji yang diolah secara kimia untuk kalib...,chemically treated test strips for calibration...,1

In [9]:
df.tail()

,Nama Barang (Indonesia),Nama Barang (English),Kelas
40945,lencana kain,cloth badges,24
40946,penutup [dari tekstil] untuk diisi dengan pele...,covers to be filled with polystyrene pellets t...,24
40947,Kain mori,-,24
40948,bahan kain wol,woollen fabric,24
40949,kain tenun untuk perabotan,woven fabrics for furniture,24